.product-display{
    display: flex;
    margin: 0px 170px;
}
.product-display-left{
    display: flex;
    gap: 17px;

}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}
.product-display-img-list img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.product-display-main-img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.product-display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;

}
.product-display-right h1{
    color: #000000;
    font-size: 55px;
  line-height: 48px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    font-weight: bold;

}
.product-display-right-prices{
    display: flex;
    margin-bottom: 15px;
    gap: 30px;
    font-size: 16px;
  line-height: 28px;
    color: black;
}
.cart-btn{
    padding: 20px 40px;
    width: 296px;
    color: white;
    background-color: #735aa9;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
  font-size: 12px;
  text-align: center;
}
.cart-btn:hover{
    opacity: 0.8;
}
.product-display-right-description{
    color: #777378;
    margin: 25px 0px;
  font-size: 14px;
  line-height: 20px;
 
}
.quantity{
    display: flex;
    text-align: right;
    justify-content:end;
    gap: 15px;
    align-items: center;
    margin-top: 25px;
}
.quantity button{
    outline: none;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #cacaca;
  background-color: white;
  color: #777378;
}
.quantity button:hover{
cursor: pointer;
color: white;
background-color: #787479;
border: 2px solid #787479;
}
.product-heart:hover{
    cursor: pointer;
color: white;
background-color: #787479;
border: 2px solid #787479;
}

.cart-favourites{
    display: flex;
    gap: 10px;
}
.product-display-bottom{
    background-color: #fbf5ed;
    margin: 40px 0px;
}
.product-display-bottom-items{
    padding: 0 6rem;
    margin: 0 6rem;
    display: flex;
    flex-direction: column;
   
}
.product-display-bottom-about{
    display: flex;
    align-items: first baseline;
    padding: 30px;
    margin: 30px;
}